.custom-cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.custom-cursor__ball--big {
  content: "";
  width: 27px;
  height: 27px;
  background: #003D79;
  border-radius: 50%;
}
.custom-cursor__ball--small {
  content: "";
  width: 7px;
  height: 7px;
  background: #FFFF37;
  border-radius: 50%;
}