.product_background {
  width: 100%;
  height: 400px;
  background-image: url(../assets/product/product_img6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sticky_middle {
  position: sticky;
  top: 7rem;
}